body {
    background-color: #f0f0f0;
    font-family: Arial;
    margin: 0;
}

.menu {
    background-color: black;
    padding: 15px;
    text-align: center;
}

.menu a {
    color: white;
    text-decoration: none;
    margin: 20px;
    font-size: 18px;
}

.content {
    text-align: center;
    padding: 30px;
}

img {
    border-radius: 10px;
}